{% extends "layout.html" %}

{% block content %}
<style type="text/css">
	.spacer {
		/*padding-bottom: 5px;*/
	}

	.black-row {
		background-color: #181818;
		color: white;
	}

	.gray-row {
		background-color: #282828;
		color: white;
	}
	
	.infoWell {
		background-color: #3D3D3D;
		border-color: #2E2E2E;
	}

	.listing-row {
		width: 100%;
	
	}

	.glyphicon {
		color: #07BB4F;
	}

	.album-image {
		max-width: 150px;
		max-width: 150px;
	}

	.seeMore-btn {
		border-radius: 24px;
		background-color: #07BB4F;
		margin-top: 5px;
	}


	[data-hidden="hidden"] {
	   display: none; /* OR */
	   visibility: hidden; /* If you want to reserve space */
	}

</style>

<!-- Add carousel -->


<!-- Add list of items -->
<!-- <div class="container"> -->
<div style="padding-top:70px; background-color:#181818"></div>
	{% for song in discoverList %}
	<div class="{{ 'gray' if (loop.index % 2) ==1 else 'black' }}-row listing-row">
		<div class="container">
			<div class="spacer"></div>
			<div class="row">
				<div class="col-sm-2">
					<img class="album-image" src="{{ song['picture'] }}">
				</div>
				<div class="col-sm-10">
					<h3>{{loop.index}}. {{song['title']}} 
						<button id="playlist-btn{{loop.index}}" onClick="post({{loop.index}}, '{{song['id']}}' )" class="btn btn-default">Add to playlist</button>
					</h3>
					<p>{{song['artist']}} | {{song['album']}}</p>
					<p><small>Since you listened to {{song['matched_item']}}</small></p>
					<audio controls>
					  <source src="{{ song['preview_url'] }}">
					Unable to generate a preview for this song.
					</audio>
					<br>
					<button class="btn btn-success seeMore-btn" type="button" data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="false" aria-controls="collapseExample">See More</button>
				</div>
			</div>
				<div class="spacer"></div>
				<div class="row">
					<div class="collapse" id="collapse{{loop.index}}">
					  <div class="well infoWell">
					    How’s business? Boomin. The key to more success is to get a massage once a week, very important, major key, cloth talk. In life you have to take the trash out, if you have trash in your life, take it out, throw it away, get rid of it, major key. Cloth talk. To be successful you’ve got to work hard, to make history, simple, you’ve got to make it. Special cloth alert. The key to more success is to get a massage once a week, very important, major key, cloth talk.
					  </div>
					</div>
				</div>
			<div class="spacer"></div>
		</div>
	</div>
		<!-- <div style="margin-bottom: 20px;"></div> -->
	{% endfor %}
<!-- </div> -->


<script type="text/javascript">
	

	function post(id, track_id) {
		var postUrl = "https://api.spotify.com/v1/users/{{session['api_username']}}/playlists/{{session['playlist_id']}}/tracks"
		var xhr = new XMLHttpRequest();

		xhr.open("POST", postUrl, true);

		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.setRequestHeader('Authorization', 'Bearer ' + "{{session['api_session_token']}}");

		xhr.send(JSON.stringify({
			'uris' : ["spotify:track:" + track_id]
		}))
	/*    method = "post"; // Set method to post by default if not specified.
	    path = "https://api.spotify.com/v1/users/{{session['api_username']}}/playlists/{{session['playlist_id']}}/tracks"
	    params = {uri: "spotify%3Atrack%3A" + track_id, headers: {"Authorization": "Bearer " + "{{session['api_session_token']}}", "Content-Type": "application/json"} }
	    // The rest of this code assumes you are not using a library.
	    // It can be made less wordy if you use one.
	    var form = document.createElement("form");
	    form.setAttribute("method", method);
	    form.setAttribute("action", path);

	    for(var key in params) {
	        if(params.hasOwnProperty(key)) {
	            var hiddenField = document.createElement("input");
	            hiddenField.setAttribute("type", "hidden");
	            hiddenField.setAttribute("name", key);
	            hiddenField.setAttribute("value", params[key]);

	            form.appendChild(hiddenField);
	         }
	    }

	    document.body.appendChild(form);
	    form.submit();
	    document.getElementById("playlist-btn" + id).style.display = "none";*/
	}
</script>


{% endblock %}